@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400);
html, body {
  margin: 0;
  padding: 0; }

footer {
  position: fixed;
  height: 110px;
  width: 100%;
  bottom: 0; }
  footer .bread-crums {
    height: 30px;
    width: 100%;
    background: #038294; }
  footer .navigation {
    height: 80px;
    width: 100%;
    background: #293a3d; }
